@import "tailwindcss";

:root {
  --foreground: #171717;
}

@theme {

  /*********** BACKGROUND ***********/

  /* beige-500 */
  --color-body-bg: #e7ded0ff;

  /* beige-500 */
  --color-body-footer: #e7ded0ff;


  /*********** TYPOGRAPHY ***********/
  --font-sofia-pro: "sofia pro", sans-serif;

  /* brown-500*/
  --color-primary-p: #402d1fff;

  /* beige-100*/
  --color-secondary-p: #faf8f5ff;

  /* brown-500 */
  --color-body-footer-p-color: #402d1fff;


  /*********** BUTTONS ***********/
  /* brown-500 */
  --color-primary-button: #402d1fff;

  /* orange-500 */
  --color-button-hover: #9A330B;

  /* beige-100*/
  --color-secondary-button: #faf8f5ff;

  /* brown-500 */
  --color-secondary-button-hover: #402d1fff;


  /*********** LINKS ***********/
  /* brown-500 */
  --color-primary-links: #402d1fff;

  /* beige-100*/
  --color-secondary-links: #faf8f5ff;
}

/*********** TYPOGRAPHY ***********/
html {
  /* min and max scale bounds (global layout) */
  --min-scale-bound: 20rem;
  --max-scale-bound: 80rem;
}

*,
*::before,
*::after {
  /* ☠️ = private */

  /* default values */
  --fs-def: inherit;
  --fs-min: inherit;
  --fs-max: inherit;

  /* viewport and font size delta */
  --☠️-vp-delta: calc(var(--max-scale-bound) - var(--min-scale-bound));
  --☠️-fs-delta: calc(var(--fs-max) - var(--fs-min));

  /* numeric delta values */
  --☠️-vp-num: tan(atan2(var(--☠️-vp-delta), 1rem));
  --☠️-fs-num: tan(atan2(var(--☠️-fs-delta), 1rem));

  /* mid range values (components) */
  --☠️-divisor: calc(var(--☠️-vp-num) / var(--☠️-fs-num));
  --☠️-vw-mid: calc(100vw / var(--☠️-divisor));
  --☠️-fs-mid: calc(var(--fs-min) - (var(--min-scale-bound) / var(--☠️-divisor)));

  /* clamp value */
  --☠️-fs-clamp: clamp(var(--fs-min), var(--☠️-vw-mid) + var(--☠️-fs-mid), var(--fs-max));

  /* property value */
  font-size: var(--fs, var(--☠️-fs-clamp, var(--fs-def, var(--fs-min, var(--fs-max)))));
}

h1 {
  --fs-max: 5.5rem;
  --fs-min: 4.25rem;
}

h2 {
  --fs-max: 3rem;
  --fs-min: 1.8rem;
}

h3 {
  --fs-max: 1.5rem;
  --fs-min: 1.13rem;
}

p {
  --fs-max: 1rem;
  --fs-min: 0.75rem;

}


@theme inline {
  /* --color-background: var(--background); */
  /* --color-foreground: var(--foreground); */
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: sofia pro, sans-serif;
}

/* Remove nav-dd styles as we're using Tailwind now */