@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  /* position: relative; */
}

:root {
  --foreground: #171717;
}

@theme {
  /*********** BACKGROUND ***********/
  /* beige-500 */
  --color-body-bg: #e7ded0ff;

  /* beige-500 */
  --color-body-footer: #e7ded0ff;

  /*********** TYPOGRAPHY ***********/
  /* brown-500*/
  --color-primary-text: #402d1fff;

  /* beige-100*/
  --color-secondary-text: #faf8f5ff;

  /* orange-500 */
  --color-tertiary-text: #9a330b;

  /* brown-500 */
  --color-body-footer-p-color: #402d1fff;

  /*********** BUTTONS ***********/
  /* brown-500 */
  --color-primary-button: #402d1fff;

  /* orange-500 */
  --color-button-hover: #9a330b;

  /* beige-100*/
  --color-secondary-button: #faf8f5ff;

  /* brown-500 */
  --color-secondary-button-hover: #402d1fff;

  /* beige-400 */
  --color-thumbnail-bg: #ece5da;

  --drop-shadow-primary: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --drop-shadow-secondary: 4px 4px 4px rgba(0, 0, 0, 0.5);
  /* --drop-shadow-dshadow-y: 4px;
  --blur: 4px; */
  /* --shadow-dropshadow2-spread: 0px; */

  /* --shadow-dropshadow2-color: rgba(76, 73, 65, 1); */
}

/*********** TYPOGRAPHY ***********/
@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/Sofia-Pro-Bold.woff2") format("opentype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/Sofia-Pro-Semi-Bold.woff2") format("opentype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/Sofia-Pro-Medium.woff2") format("opentype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/Sofia-Pro-Regular.woff2") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("/fonts/Sofia-Pro-Light.woff2") format("opentype");
  font-weight: 1 300;
  font-display: swap;
}

html {
  /* min and max scale bounds (global layout) */
  --min-scale-bound: 20rem;
  --max-scale-bound: 80rem;
}

*,
*::before,
*::after {
  /* ☠️ = private */

  /* default values */
  --fs-def: inherit;
  --fs-min: inherit;
  --fs-max: inherit;

  /* viewport and font size delta */
  --☠️-vp-delta: calc(var(--max-scale-bound) - var(--min-scale-bound));
  --☠️-fs-delta: calc(var(--fs-max) - var(--fs-min));

  /* numeric delta values */
  --☠️-vp-num: tan(atan2(var(--☠️-vp-delta), 1rem));
  --☠️-fs-num: tan(atan2(var(--☠️-fs-delta), 1rem));

  /* mid range values (components) */
  --☠️-divisor: calc(var(--☠️-vp-num) / var(--☠️-fs-num));
  --☠️-vw-mid: calc(100vw / var(--☠️-divisor));
  --☠️-fs-mid: calc(var(--fs-min) - (var(--min-scale-bound) / var(--☠️-divisor)));

  /* clamp value */
  --☠️-fs-clamp: clamp(var(--fs-min), var(--☠️-vw-mid) + var(--☠️-fs-mid), var(--fs-max));

  /* property value */
  font-size: var(--fs, var(--☠️-fs-clamp, var(--fs-def, var(--fs-min, var(--fs-max)))));
}

h1 {
  --fs-max: 5.5rem;
  --fs-min: 4.25rem;
}

.h1-small {
  --fs-max: 3rem;
  --fs-min: 1.8rem;
}

h2 {
  --fs-max: 3rem;
  --fs-min: 1.8rem;
}

.h2-small {
  --fs-max: 1.13rem;
  --fs-min: 0.8rem;
}

h3 {
  --fs-max: 1.5rem;
  --fs-min: 1.13rem;
}

p {
  --fs-max: 1rem;
  --fs-min: 0.75rem;
}

label {
  --fs-max: 1rem;
  --fs-min: 0.75rem;
}

.nav-links {
  --fs-max: 1rem;
  --fs-min: 0.7rem;
}

.burger-links {
  --fs-max: 2rem;
  --fs-min: 1.5rem;
}

.logo-size {
  font-size: 2.25rem;
}

@media (min-width: 1024px) {
  .works-link {
    --fs-max: 2rem;
    --fs-min: 1.5rem;
  }
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--color-primary-text);
  font-family: "Sofia Pro", sans-serif;
}

/* Remove nav-dd styles as we're using Tailwind now */

@layer utilities {
  .px-section {
    padding-left: calc(var(--spacing) * 10);
    padding-right: calc(var(--spacing) * 10);
  }

  .spacing-section {
    margin-top: 184px;
  }

  .spacing-section-small {
    margin-top: 120px;
  }
}