@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);


  --color-beige-950: #1E1910FF;
  --color-grey-950: #0C0B09FF;
  --color-brown-950: #0B0704FF;
  --color-orange-950: #0F0502FF;
  --color-green-950: #080901FF;

  /* Green */
  --color-green-900: #0B0D02FF;
  --color-green-800: #1A1F03FF;
  --color-green-700: #262D06FF;
  --color-green-600: #313A07FF;
  --color-green-500: #3C490BFF;
  --color-green-400: #7C9416FF;
  --color-green-300: #BDE01EFF;
  --color-green-200: #D4EB6BFF;
  --color-green-100: #E7F5B3FF;
  --color-green-50: #F4FADBFF;

  /* Orange */
  --color-orange-900: #1E0A02FF;
  --color-orange-800: #3E1604FF;
  --color-orange-700: #5A1E06FF;
  --color-orange-600: #7B2909FF;
  --color-orange-500: #9A330BFF;
  --color-orange-400: #DB490FFF;
  --color-orange-300: #F1703CFF;
  --color-orange-200: #F6A07EFF;
  --color-orange-100: #FACEBCFF;
  --color-orange-50: #FDE6DEFF;

  /* Brown */
  --color-brown-900: #0E0A07FF;
  --color-brown-800: #18110CFF;
  --color-brown-700: #261912FF;
  --color-brown-600: #342419FF;
  --color-brown-500: #402D1FFF;
  --color-brown-400: #78492BFF;
  --color-brown-300: #AE7B58FF;
  --color-brown-200: #C9A68EFF;
  --color-brown-100: #E4D4C8FF;
  --color-brown-50: #F2E9E4FF;


  /* Grey */
  --color-grey-900: #1A1814FF;
  --color-grey-800: #312D26FF;
  --color-grey-700: #4B443AFF;
  --color-grey-600: #645C4FFF;
  --color-grey-500: #7E7361FF;
  --color-grey-400: #9B907DFF;
  --color-grey-300: #B4AB9CFF;
  --color-grey-200: #CCC6BDFF;
  --color-grey-100: #E6E4DEFF;
  --color-grey-50: #F2F0EEFF;

  /* Beige */
  --color-beige-900: #392F1DFF;
  --color-beige-800: #725D3BFF;
  --color-beige-700: #AC8E5EFF;
  --color-beige-600: #CAB696FF;
  --color-beige-500: #E7DED0FF;
  --color-beige-400: #ECE5DAFF;
  --color-beige-300: #F1ECE4FF;
  --color-beige-200: #F5F1EBFF;
  --color-beige-100: #FAF8F5FF;
  --color-beige-50: #FDFDFCFF;


  /* Inner shadow color */
  --color-innershadow2: #402D1FFF;
  --color-innershadow1: #402D1FFF;

  /* Drop shadow color */
  --color-dropshadow2: #4C4941FF;
  --color-dropshadow1: #402D1FFF;

  /* Border */
  --border-1px: 1px;
  --border-2px: 2px;
  --border-3px: 3px;
  --border-4px: 4px;

  /* border radius */
  --radius-10px: 10px;
  --radius-24px: 24px;
  --radius-34px: 34px;
  --radius-44px: 44px;


  /* spacing */
  --spacing-8px: 8px;
  --spacing-18px: 18px;
  --spacing-24px: 24px;
  --spacing-32px: 32px;
  --spacing-40px: 40px;
  --spacing-48px: 48px;
  --spacing-64px: 64px;
  --spacing-80px: 80px;
  --spacing-94px: 94px;
  --spacing-112px: 112px;
  --spacing-128px: 128px;
  --spacing-142px: 142px;
  --spacing-208px: 208px;
  --spacing-298px: 298px;
  --spacing-340px: 340px;
  --spacing-440px: 440px;

  /* Inner shadows */
  --shadow-innershadow2-x: 0px;
  --shadow-innershadow2-y: 4px;
  --shadow-innershadow2-blur: 4px;
  --shadow-innershadow2-spread: 0px;
  --shadow-innershadow2-opacity: 50px;
  --shadow-innershadow1-x: 0px;
  --shadow-innershadow1-y: 4px;
  --shadow-innershadow1-blur: 4px;
  --shadow-innershadow1-spread: 0px;
  --shadow-innershadow1-opacity: 25px;


  /* Drop shadows */

  --drop-shadow-dropshadow2-x: 4px;
  --drop-shadow-dropshadow2-y: 4px;
  --drop-shadow-dropshadow2-blur: 4px;
  --drop-shadow-dropshadow2-spread: 0px;
  --drop-shadow-dropshadow2-opacity: 50px;
  --drop-shadow-dropshadow1-x: 0px;
  --drop-shadow-dropshadow1-y: 4px;
  --drop-shadow-dropshadow1-blur: 4px;
  --drop-shadow-dropshadow1-spread: 0px;
  --drop-shadow-dropshadow1-opacity: 25px;


  --font-sofia: "sofia", sans-serif;
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-sofia);
}